.profile {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/Profile.jpg');
  -moz-background-size:100% 100%;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.graph{
  margin: auto;
  width: 1000px;
  /* left: 59px;
  top: 432px; */
}

.welcome {
  margin: auto;
  font-size: 60px;
  margin-top: -20px;
  font-family: 'Poppins';
  color: #2E5266;
  letter-spacing: -0.07em;
}

.goalContainer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: -20px;
}
.currentGoal {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Poppins';
  font-weight: 'bold';
  color: #fff;
  letter-spacing: -0.07em;
  border: 2px solid #B7CE63;
  background: #B7CE63;
  border-radius: 10px;
  box-shadow: 5px 5px 20px grey;
}
.goalCal {
  font-size: 30px;
  padding-right: 10px;
  font-family: 'Poppins';
  font-weight: 'bold';
  color: orange;
  text-shadow: 1px 1px 2px #fff;
  letter-spacing: -0.07em;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  background-color: #2E5266;
}

.innerPicture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.detailContainer {
  margin: auto;
  background-color: #FAFDFF;
  border-radius: 15px;
  width: 1030px;
  height: 610px;
  margin-top: -30px;
  box-shadow: 5px 5px 20px grey;
}

.buttons {
  padding: 30px 10px 10px 15px;
  display: flex;
  justify-content: space-between;
}

.goalButton {
  /* margin-right: 10px; */
  /* position: absolute; */
  /* width: 381px; */
  width: 490px;
  height: 50px;
  left: 59px;
  top: 734px;
  color: white;
  font-size: 30px;
  border: 2px solid #B7CE63;
  background: #B7CE63;
  border-radius: 10px;
  letter-spacing: -0.07em;
  font-weight: bold;
}

.goalButton:hover {
  cursor: pointer;
  color: #B7CE63;
  border: solid 2px white;
  background-color: white;
  letter-spacing: -0.07em;
  font-weight: bold;
}

.historyButton {
  /* position: absolute; */
  /* width: 381px; */
  width: 490px;
  height: 50px;
  left: 59px;
  top: 734px;
  color: white;
  font-size: 30px;
  border: 2px solid #B7CE63;
  background: #B7CE63;
  border-radius: 10px;
  letter-spacing: -0.07em;
  font-weight: bold;

}

.historyButton:hover {
  cursor: pointer;
  color: #B7CE63;
  border: solid 2px white;
  background-color: white;
  letter-spacing: -0.07em;
  font-weight: bold;

}

.historyContainer {
  width: 1000px;
  height: 500px;
  margin: 0 10px 10px 15px;
  background-color: white;
  border-radius: 5px;
  font-family: 'Poppins';
  overflow: scroll;
  /* box-shadow: 0 4px 2px -2px gray; */
}

.historyList {
  max-height: 100%;
  max-width: 100%;
  /* flex-direction: column; */
  /* margin: auto; */
  /* align-items: center; */
  padding: 10px 10px 10px 10px;
}

.items {
  display: flex;
  align-items: unset;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.date {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 25px;
  font-weight: 600;
  font-size: 17px;
  font-family: 'Poppins';
}

