.profile {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/Profile.jpg');
  -moz-background-size:100% 100%;
  background-size: cover;
}
.graph{
  /* position: absolute; */
  margin: auto;
  width: 1000px;
  height: 700px;
  /* width: 761px; */
  /* height: 20%; */
  left: 59px;
  top: 432px;
}
.welcome {
  margin: auto;
  font-size: 60px;
  margin-top: -20px;
  font-family: 'Poppins';
}
.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  background-color: #2E5266;
}
.innerPicture {
  border-radius: 50%;
  width: 150px;
  height: auto;
}




















