.cart{
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .Cart-Container{
  width: 70%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
 }

 .Header{
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .Heading{
  font-size: 40px;
  font-weight: 700;
  margin-left: 30px;
  color: #2F3841;
 }
 .Action{
  font-size: 14px;
  font-weight: 600;
  color: #E44C4C;
  cursor: pointer;
  border-bottom: 1px solid #E44C4C;
 }

 .itemList{
  height: 800px;
  overflow-y: scroll;
 }
 .Cart-Items{
  margin-top: 10px;
  margin-left: 60px;
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  border-bottom: #d9d9d9 solid 1px;
  position: relative;
 }
 .image-box{
  width: 15%;
  text-align: center;
 }
 .about{
  height: 100%;
  position: relative;
 }
 .title{
  margin-left: 20px;
  padding-top: 5px;
  line-height: 10px;
  font-size: 28px;
  font-weight: 800;
  color: #202020;
 }
 .subtitle{
  margin-left:20px;
  line-height: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #909090;
  margin-top: 50px;
 }

 .counter{
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 80%;
 }
 .btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
 }
 .count{
  font-size: 20px;
  font-weight: 900;
  color: #202020;
 }

 .prices{
  height: 100%;
  margin-top: 80px;
  text-align: right;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 15%;
 }
 .amount{
  padding-top: 20px;
  font-size: 26px;
  font-weight: 800;
  color: #202020;
 }
 .save{
  padding-top: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #1687d9;
  cursor: pointer;
 }
 .remove{
  padding-top: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #E44C4C;
  cursor: pointer;
 }

 hr{
  width: 66%;
  float: right;
  margin-right: 5%;
 }
 .checkout{
  float: right;
  margin-right: 5%;
  width: 28%;
 }
 .total{
  width: 100%;
  display: flex;
  justify-content: space-between;
 }
 .Subtotal{
  font-size: 22px;
  font-weight: 700;
  color: #202020;
 }
 .items{
  font-size: 16px;
  font-weight: 500;
  color: #909090;
  line-height: 10px;
 }
 .total-amount{
  font-size: 36px;
  font-weight: 900;
  color: #202020;
 }
 .button{
  margin-top: 5px;
  width: 100%;
  height: 40px;
  border: none;
  background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #202020;
 }

 .checkoutBtn{
  margin-top: 50px;
  margin-left: 600px;
 }